* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.storeNavArea {
  width: 940px;
  position: relative;
  margin: 0 auto;
  
  .storeHeader {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    height: 66px;

    .content {
      height: 66px;
      z-index: 300;

      .wishList {
        z-index: 300;
        top: 8px;
        position: absolute;
        right: 0;
        text-align: right;
        font-size: 11px;
        margin-right: 10px;
        .wishListBtn {
          box-shadow: 0 0 3px #000;
          height: 20px;
          position: relative;
          border-radius: 1px;
          float: left;
          background-image: url(../../../../public/image/mainPage/headerNavBar/background_wishlist.jpg);
          background-color: rgba(255, 255, 255, 0.4);
          background-position: -34px 20px;
          .wishListLink {
            display: inline-block;
            padding: 0 25px;
            margin: 0 1px;
            line-height: 20px;
            text-align: center;
            text-transform: uppercase;
            font-size: 11px;
            text-decoration: none;
            color: #fff;
            &:hover {
              color: #111111;
              border-radius: 1px;
              background: linear-gradient(135deg, #ffffff 0%, #919aa3 100%);
            }
          }
        }
      }
      .navigationArea {
        position: absolute;
        left: 0;
        right: 0;
        top: 24px;
        height: 49px;
        .navBackground {
          background: linear-gradient(90deg, 
          rgba(62, 103, 150, 0.919) 11.38%, 
          rgba(58, 120, 177, 0.8) 25.23%, 
          rgb(15, 33, 110) 100%);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
          height: 35px;
          margin: 7px;
          .navBar {
            height: 35px;
            display: flex;
            .navTab {
              padding: 1px;
              display: inline-block;
              cursor: pointer;
              span{
                border-right: none;
                white-space: nowrap;
                padding: 0 15px;
                margin-right: 0px;
                background: none;
                font-size: 13px;
                font-weight: bold;
                line-height: 34px;
                text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
                color: #e5e5e5;
              }
              &:hover {
                background: linear-gradient(90deg, rgba(33, 162, 255, 0.25) 0%, rgba(33, 162, 255, 0.15) 50%, rgba(50, 50, 51, 0) 100%);
                text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
                height: 33px;
              }
            }
            .searchArea {
              flex-grow: 1;
              flex-shrink: 0;
              max-width: 210px;
              .search {
                float: none;
                padding: 3px 4px 2px;
                height: 30px;
                .searchBox {
                  background-image: none;
                  background-color: #316282;
                  border-radius: 3px;
                  border: 1px solid rgba( 0, 0, 0, 0.3);
                  box-shadow: 1px 1px 0px rgba( 255, 255, 255, 0.2);
                  color: #fff;
                  margin-bottom: 0px;
                  outline: none;
                  height: 27px;
                  padding: 0px 6px;
                  display: flex;
                  .searchInput {
                    color: #0e1c25;
                    font-size: 14px;
                    margin-top: 1px;
                    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1);
                    font-family: "Motiva Sans", sans-serif;
                    font-weight: 300;
                    font-style: italic;
                    border: none;
                    background-color: transparent;
                    width: calc(100% - 25px - 8px);
                    outline: none;
                    line-height: 26px;
                    height: 26px;
                    box-shadow: none;
                  }
                  a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    color: #fff;
                    img {
                      border: none;
                      width: 25px;
                      height: 25px;
                      top: 1px;
                      right: -1px;
                      background-image: url(../../../../public/image/mainPage/headerNavBar/search_icon_btn.png);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.test {
  width: 100%;
  height: 387px;
}

