
.bigCardContainer {
  position: relative;
  height: 390px;
  width: 306px;
  margin-right: 11px;
  box-shadow: 0 0 5px black;
  background-image: url(../../../../public/image/mainPage/carousel/gameinfocard_background.jpg);
}
.cardImg {
  padding-left: 0px;
  padding-top: 0px;
  width: 301px;
  height: 344px;
  img {
    border: none;
    width: 100%;
    overflow: hidden;
  }
  &:hover {
    cursor: pointer;
  }
}
.cardContent {
  background-image: url(../../../../public/image/mainPage/carousel/gameinfocard_background.jpg);
  margin: 0px;
  min-height: 23px;
  background-size: cover;
  padding: 8px 16px 12px 16px;
  color: #9099a1;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  width: 270px;
  &:hover {
    cursor: pointer;
  }
  h2 {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 10px;
    letter-spacing: 0.03em;
    font-weight: normal;
    padding-top: 2px;
  }
  .contentBody {
    font-weight: 300;
    color: #acdbf5;
  }
}

.discountArea {
  margin-top: 10px;
  .discountBlock {
    position: relative;
    display: flex;
    .discountPercent {
      line-height: 34px;
      padding: 0 5px;
      font-size: 26px;
      font-weight: 500;
      color: #BEEE11;
      background: #4c6b22;
      display: inline-block;
    }
  }
}

.discountPrice {
  line-height: 13px;
  padding: 0 8px 0 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  background: #344654;
  .discountOriginalPrice {
    position: relative;
    width: fit-content;
    color: #738895;
    font-size: 11px;
    line-height: 12px;
    &::before {
      content: '';
      left: 0px;
      right: 0px;
      position: absolute;
      top: 43%;
      border-bottom: 1.5px solid #738895;
      transform: skewY(-8deg);
      box-shadow: 0 0 2px black;
    }
  }
  .discountFinalPrice {
    color: #BEEE11;
    line-height: 16px;
    font-size: 15px;
  }
}

.gameHoverInfo {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  width: 300px;
  background-color: #DCDEDF;
  top: 0;
  left: 306px;
  z-index: 3;
}

.infoContainer {
  padding: 10px 15px 10px 15px;
  .gametitle {
    font-size: 16px;
  }
  .releaseDate {
    font-size: 9px;
  }
  .screenShot {
    margin-top: 5px;
    width: 270px;
    height: 180px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .userEvaluation {
    margin-top: 5px;
    padding: 5px 5px 5px 5px;
    width: 260px;
    height: 30px;
    background-color: #67707B;
    color: #DCDEDF;
    font-size: 10px;
    border-radius: 2px;
  }
  .userTag {
    margin-top: 5px;
    font-size: 10px;
    font-weight: bold;
  }
  .userTagBlock {
    display: flex;
    font-size: 10px;
    color: #DCDEDF;
    div {
      padding: 2px;
      margin-right: 3px;
      background-color: #8B929A;
      border-radius: 2px;
    }
  }
}