

.navbar {
  display: block;
  background-color: #171D25;
  background-position: 50% 0%;
  height: 104px;
  width: 100%;
  outline: solid 1px;
  .content {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    text-decoration: none solid rgb(198, 212, 223);
    word-spacing: 0px;
    height: 104px;
    width: 940px;
    margin: 0 487px 0 487px;
    margin: 0 auto;
    .left_area {
      width: 60%;
      display: flex;
      justify-content: space-between;
      .logo {
        height: 44px;
        width: 176px;
        margin: 0 40px 0 0;
        padding: 30px 0 0 0;
        img {
          height: 44px;
          width: 176px;
          cursor: pointer;
        }
      }
      a {
        //font
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        text-align: center;
        text-decoration: none solid rgb(26, 159, 255);
        text-transform: uppercase;
        word-spacing: 0px;
        color: #DCDEDF;
        // box
        height: 20.5px;
        padding: 45px 7px 7px 7px;
        display: block;
        float: left;
        position: relative;
        &:hover {
          color: #fff;
          transition-duration: 250ms;
          cursor: pointer;
        }
      }
      .headerMenu_active{
        color: #1A9FFF;
        &:hover {
          color: #1A9FFF;
          cursor: pointer;
        }
      }
      .headerMenu_active::after{
        content: "";
        display: block;
        width: 100%;
        height: 2.5px;
        border-radius: 3px;
        margin-top: 2px;
        background: #1A9FFF;
      }
      
    }
    .right_area {
      width: 40%;
      display: flex;
      padding-top: 5px;
      .actionMenu {
        margin-left: auto;
        line-height: 24px;
        display: block;
        flex-direction: row;
        flex-wrap: wrap;
        color: #b8b6b4;
        
        .installBtnWrap {
          display: inline-block;
          position: relative;
          height: 21px;
          line-height: 24px;
          margin-right: 3px;
          .installBtnContent {
            background-color: rgba($color: #67707B, $alpha: 0.2);
            padding-left: 35px;
            padding-right: 9px;
            background-position: 10px 5px;
            background-image: url( 'https://store.akamai.steamstatic.com/public/shared/images/header/btn_header_installsteam_download.png?v=1' );
            background-repeat: no-repeat;
            color: #e5e4dc;
            font-weight: normal;
            &:hover {
              background-color: #3d4450;
              transition-property: background;
              transition-duration: 250ms;
              cursor: pointer;
            }
          }
          .installBtnContentGreen {
            background-color: #5C7E10;
            padding-left: 35px;
            padding-right: 9px;
            background-position: 10px 5px;
            background-image: url( 'https://store.akamai.steamstatic.com/public/shared/images/header/btn_header_installsteam_download.png?v=1' );
            background-repeat: no-repeat;
            color: #e5e4dc;
            font-weight: normal;
            &:hover {
              background-color: #6C9018;
              transition-property: background;
              transition-duration: 250ms;
              cursor: pointer;
            }
          }
          
          
        }
        .notificationBtn {
          background-color: rgba($color: #67707B, $alpha: 0.2);
          width: 46px;
          height: 24px;
          font-size: 12px;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
          .notificationBtnContent {
            fill: #8b929a;
            width: 14px;
          }
          &:hover {
            background-color: #3d4450;
            transition-property: background;
            transition-duration: 250ms;
            cursor: pointer;
          }
          
        }
        .nameContent {
          font-size: 11px;
          display: flex;
          padding-left: 4px;
          line-height: 25px;
          padding-right: 18px;
          background-image: url( 'https://store.akamai.steamstatic.com/public/shared/images/popups/btn_arrow_down_padded.png' );
          background-position: right center;
          background-repeat: no-repeat;
          &:hover {
            color: #fff;
            transition-duration: 250ms;
            cursor: pointer;
          }
        }
        .walletCntArea {
          align-content: flex-end;
          text-align: right;
          padding-right: 15px;
          line-height: normal;
          .walletCnt {
            font-size: 11px;
            color: #b8b6b4;
            padding: 0 4px;
            &:hover {
              color: #fff;
              transition-duration: 250ms;
              cursor: pointer;
            }
          }
        }

        .loginArea {
          font-size: 11px;
          line-height: 24px;
          padding: 0 4px;
          .loginLink {
            &:hover {
              color: #fff;
              transition-duration: 250ms;
              cursor: pointer;
            }
          }
          .languageComboBox {
            margin-right: 5px;
            padding-left: 4px;
            line-height: 25px;
            padding-right: 18px;
            background-image: url( 'https://store.akamai.steamstatic.com/public/shared/images/popups/btn_arrow_down_padded.png' );
            background-position: right center;
            background-repeat: no-repeat;
            &:hover {
              color: #fff;
              transition-duration: 250ms;
              cursor: pointer;
            }
          }
          
        }
      }
    }
  }
}